.header {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid black;
  border-bottom: 8px solid black;
  border-left: 14px solid black;
}

.logo {
  display: block;
  padding: 20px 0px;
  width: 148px;
  min-width: 148px;
}

.logo__image {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  border-left: 14px solid black;
}

.menu__list {
  display: flex;
}

.menu__item {
  display: flex;
}

.menu__link {
  font-family: 'Rubic One', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px 10px;
  text-transform: uppercase;
  font-size: 30px;
  transition: background-color 0.3s ease-in-out;
}

.menu__item:not(:first-child) .menu__link {
  border-left: 4px solid black;
}

.menu__link:hover {
  background-color: #FFFF00;
}

.auth {
  display: flex;
}

.auth__button {
  font-size: 30px;
  font-family: 'Rubic One', sans-serif;
  background-color: transparent;
  border: none;
  padding: 12px 20px 10px;
  border-left: 4px solid black;
  text-transform: uppercase;
  color: white;
  background-color: black;
  transition: color 0.3s ease-in-out;
}

.auth__button:hover {
  color: #FFFF00;
}

@media (width <=1440px) {
  .logo {
    width: 140px;
    min-width: 140px;
    padding: 10px 0px;
  }
  
  .menu__link {
    font-size: 20px;
  }

  .auth__button {
    font-size: 20px;
  }
}

@media (width <= 768px) {
  .header {
    align-items: center;
  }
  .menu {
    flex-direction: column;
  }

  .menu__list {
    flex-direction: column;
  }

  .menu__link {
    width: 100%;
  }

  .menu__item:not(:first-child) .menu__link {
    border-left: none;
    border-top: 4px solid black;
  }

  .auth__button {
    width: 100%;
    padding: 18px 20px 10px;
  }
}

@media (width <= 650px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }
  .menu {
    width: 100%;
    border-left: none;
    border-top: 4px solid black;
  }
}